.accueil-banniere {
     padding: 5em 18em 5em 23em;

     h1 {
       text-align: left; 
       margin-top: 15px;
     }
}

.accueil-offres {
    padding: 0 20%;
}
.accueil-offre {
    
    div {
        padding: 30px;
        border-radius: 30px;

    }

    h2, h4 {
        padding-bottom: 10px;
    }
}
