.accueil-banniere {
     padding: 0 23em;
}

.accueil-offres {
    padding: 0 20%;
}
.accueil-offre {
    
    div {
        padding: 30px;
        border-radius: 30px;

    }

    h2, h4 {
        padding-bottom: 10px;
    }
}
