.accueil-banniere {
    padding: 5em 15% 5em 15%;

     h1 {
       margin-top: 15px;
       font-family: 'ruda', sans-serif;
       text-align: left;
     }

     h2 {
        font-family: 'Unica One', sans-serif;
     }

    @media (max-width: $breakpoint__tab) {
        padding: 4em 10em 4em 15em;
        h1 {text-align: center;}
    }

    @media (max-width: $breakpoint__large_phone) {
        padding: 2em;
    }
    
}

.accueil-offres {
    display: flex; // Ajoutez Flexbox pour aligner les éléments
    flex-wrap: wrap;  // Permet aux éléments de se répartir sur plusieurs lignes si nécessaire
    justify-content: space-between;  // Espace entre les éléments pour une grille propre
    padding: 0 20%;

    @media (max-width: 1324px) {
        padding: 0 5%;
    }

    @media (max-width: $breakpoint__large_phone) {
        padding: 2em;
    }

    
}

.wp-container-core-group-is-layout-882f8061 {
    flex-wrap: wrap !important;
}

.accueil-offre {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 15px;
    
    >div {
        border-radius: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

    }

    h2, h4 {
        padding-bottom: 10px;
    }

    ul {
        margin: 0 30px 50px 30px;
        padding-left: 30px;
    }
}
.offre-expertises {
    padding: 30px;
    display: flex;         
    flex: 1; 

    @media (max-width: $breakpoint__large_phone) {
        padding: 20px;
    }
}
