.article-titre {
    text-align: center;
    margin-bottom: 20px;
    padding: 5%;
}

.article-titre .wp-block-post-terms a {
    pointer-events: none;
  }

.entreprise-logo {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        height: 150px;
    }
}

article {
    h3 {
        text-transform: uppercase;
    }
    li {
        font-size: 14px;
    }

    .article-temoignage {
        padding: 80px 300px;
        display: flex;
        gap: 50px;
    }

    strong {
        color: white;
        font-weight: 700;
    }
    .bloc-contact {
        padding: 100px;
        gap: 20px;

        h3 {
            font-size: 25px;
        }
    }
    span {
        color: var(--yellow);
    }
}


.livrable {
    padding-left: 20px;
}

.projet-autres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    h2 {
        text-align: center;
        text-transform: uppercase;
        color: var(--green);
        font-size: 25px;
        margin-bottom: 0;
    }

    .sous-titre-autre-projet {
        margin-top: 10px;
    }
}

.bouton {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: var(--green);
    color: white; 
    text-decoration: none; 
    border-radius: 25px; 
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animation de couleur au survol */
}

.bouton:hover {
    transform: translateY(-1px); /* Effet de levée du bouton au survol */
}