footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--brown-regular);
    

    .first-footer {
        background-size: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 4vh 0;
        background-color: var(--light-grey-2);


        &-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        
        &-menu {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: right;  
            margin-left: 60px;
            padding: 0;
            width: 50%;

            >div {
                display: flex;
                flex-direction: column;
                align-items: flex;
                height: 200px;

                li {
                    list-style-type: none;
                    text-align: right;
                    line-height: 2em;
                    }
                
                h3 {
                    text-align: right;
                    font-size: 16px;
                    margin-bottom: 0px;
    
                }
                a:hover {
                    font-weight: normal;
                    border-bottom: 1px solid var(--yellow);
                  }

                .linkedin-footer {
                    display: flex;
                    justify-content: flex-end;
                }
                img {
                    height: 25px;

                }
                .linkedin-footer:hover {
                    border-bottom: none;
                }

            } 
        }

        .logo-3bis {
            margin-top: 10px;
        
            img {
                max-width: 180px;
                height: auto;
            }
        
            a {
                display: inline-block;
            }
        }
    }

    .second-footer {
        background-color: var(--dark-grey);
        width: 100%; 
        display: flex;
        justify-content: center;
        
        
        p {
            color: white;
            a {
                font-family: "Work Sans", sans-serif;
            }
           
        }
        
    }
}

@media (max-width: 1230px) {

    footer {
            
        .first-footer {
            padding: 5vh;
        
            &-logo {              
                width: 40%;
                text-align: center;

                img {
                    width: 100%;
                }
            }
            &-menu {
                gap: 20px; 
                margin-left: 0;
                padding: 0;
                width: 40%;
                font-size: 14px;
            }
    
        }
    }
}

@media (max-width: $breakpoint__large_phone) {
    footer { 
        .first-footer {
            flex-direction: column;
            width: 100%;
    
            &-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                p {font-size: 14px;}

            }
            
            &-menu {
                flex-direction: column;
                gap: 0;
                justify-content: center;  
                margin-left: 0;
                padding: 0;
                width: auto;
    
                >div {
                    align-items:center;
                    height: auto;
    
                    li {
                        text-align: center;
                        }
                    
                    h3 {
                        text-align: center;
                        font-size: 14px;        
                    }

                    ul {
                        padding: 0;
                    }
    
                    .linkedin-footer {
                        justify-content: center;
                    }
    
                } 
            }
        }
    
        .second-footer {
             p {
                font-size: 10px;
                text-align: center;
            }           
        }
    }
}

