footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--brown-regular);
    

    .first-footer {
        background-size: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 4vh;
        background-color: var(--light-grey-2);


        &-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        
        &-menu {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: right;  
            margin-left: 60px;
            padding: 0;
            width: 50%;

            >div {
                display: flex;
                flex-direction: column;
                align-items: flex;
                height: 200px;

                li {
                    list-style-type: none;
                    text-align: right;
                    line-height: 2em;
                    }
                
                h3 {
                    text-align: right;
                    font-size: 16px;
                    margin-bottom: 0px;
    
                }

                .linkedin-footer {
                    display: flex;
                    justify-content: flex-end;
                }
                img {
                    height: 25px;

                }
            } 
        }

        a:hover {
            font-weight: normal;
            border-bottom: 1px solid var(--yellow);
          }
    }

    .second-footer {
        background-color: var(--dark-grey);
        width: 100%; 
        display: flex;
        justify-content: center;
        
        
        p {
            color: white;
            a {
                font-family: "Work Sans", sans-serif;
            }
           
        }
        
    }
}

