:root {
    --orange: #B36A26;
    --yellow: #D69609;
    --green: #7E854D;
    --dark-grey: #463F3A;
    --dark-blue: #3D566C;
    --light-grey: #F1F0EC;
    --light-grey-2: #F6F6F6;
}

// BREAKPOINT MEDIA QUERY

$breakpoint__large_phone: 767px;
$breakpoint__tab: 1024px;

* {
    font-family: 'ruda', sans-serif;
    font-weight: normal;
    color: var(--dark-grey);
    line-height: 25px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
}

section {
    padding: 30px 10vw;
}

.section {    
    padding: 10px 10vw;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
  }

h1, h2 {
    text-transform: uppercase;
    font-family: 'Unica One', sans-serif;
}

h1 {
    font-size: 32px ;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 25px; 
    font-weight: normal;
    line-height: 1;
}

h3 {
    font-size: 20px ;
    font-weight:700;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px ;
    font-weight: normal;
}

p {
    font-size: 16px ;
    font-weight: 300;
}

strong {
    font-weight: 700;
}


.temoignage {
    padding: 8em 30em;
    position: relative;

    @media (max-width: 1324px) {
        padding: 4em 15em;
    }

    @media (max-width: $breakpoint__large_phone) {
        padding: 2em 1em;
    }
 
    div, p {
        padding-bottom: 20px;
    }
}

.temoignage-pouce {
    position: absolute; 
    display: block;
    margin: 10px auto 0; 
    max-width: 120px; 
    bottom: 10%; 
    right: 20%;

    @media (max-width: 1324px) {
        bottom: 5%; 
        right: 10%;
    }

    @media (max-width: $breakpoint__large_phone) {
        display: none;
    }
}

.temoignage-bulle {
    position: absolute; 
    display: block;
    margin: 10px auto 0; 
    max-width: 170px; 
    top: 10%; 
    left: 20%;

    @media (max-width: 1324px) {
        top: 5%; 
        left: 10%;
    }

    @media (max-width: $breakpoint__large_phone) {
        position:initial;
        display: flex;
        margin: 0; 
    }
}

.padding-general {
    padding-right: 15em;
    padding-left: 15em;

    @media (max-width: 1324px) {
        padding-right: 7em;
        padding-left: 7em;
    }
    
    @media (max-width: 800px) {
        padding-right: 2em;
        padding-left: 2em;
    }
}

.icones-engagements{
    padding-right: 10em;
    padding-left: 10em;
}

