:root {
    --orange: #B36A26;
    --yellow: #D69609;
    --green: #7E854D;
    --dark-grey: #463F3A;
    --dark-blue: #3D566C;
    --light-grey: #F1F0EC;
    --light-grey-2: #F6F6F6;
}

// BREAKPOINT MEDIA QUERY

$breakpoint__large_phone: 700px;
$breakpoint__tab: 1115px;

* {
    font-family: 'ruda', sans-serif;
    font-weight: normal;
    color: var(--dark-grey);
    line-height: 25px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
}

section {
    padding: 30px 10vw;
}

.section {    
    padding: 10px 10vw;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
  }

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 32px ;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 25px; 
    font-weight: normal;
}

h3 {
    font-size: 20px ;
    font-weight:700;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px ;
    font-weight: normal;
}

p {
    font-size: 16px ;
    font-weight: 300;
}

strong {
    font-weight: 700;
}


.temoignage {
    padding: 8em 30em;
    position: relative;
 
    div, p {
        padding-bottom: 20px;
    }
}

.temoignage-pouce {
    position: absolute; 
    display: block;
    margin: 10px auto 0; 
    max-width: 120px; 
    bottom: 10%; 
    right: 20%;
}

.temoignage-bulle {
    position: absolute; 
    display: block;
    margin: 10px auto 0; 
    max-width: 170px; 
    top: 10%; 
    left: 20%;
}

.padding-general {
    padding-right: 15em;
    padding-left: 15em;
}
