.reference-titre {
    text-align: center;
    margin-bottom: 20px;
    padding: 5%;

    h1 {
        margin-bottom: 20px;
    }
    p, strong {
        color: white;
    }
}

.mise-en-page-references {
    display: flex;
    gap: 4rem;
}

.bloc-filtres {
    flex: 1;
    max-width: 200px;
    text-align: center;

    .filtre-option {
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 50px;
        transition: background-color 0.3s ease;

        p {
            margin: 0;
        }

        &:hover {
            background-color: var(--light-grey);
            color: var(--dark-grey);
        }
    }
}

.selectionne {
    background-color: var(--yellow);
    font-weight: bold;
    p {
        color: white;
        font-weight: 700;
    }
}

.vignettes-refs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;  
    align-items: start;
}