.vignettes-ref {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    padding: 30px 15em;
  
    @media (max-width: 770px) {
      grid-template-columns: 1fr;
      padding: 30px 2em;
    }
  }

  .reference-card {
    display: flex;
    gap: 10px;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    flex-grow: 1;

  
    &:hover {
      transform: translateY(-5px) scale(1.02);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }
  
    @media (max-width: 770px) {
      flex-direction: row-reverse;
    //   align-items: center;
    //   text-align: center;
    }
  }
  
  .reference-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5em;
  
    h3 {
      margin: 0 0 0.3em 0;
      font-size: 1.5em;
    }
  
    p {
      margin: 0 0 0.3em 0;
      font-size: 1em;
    }
  
    .reference-categories {
      font-size: 0.9em;
      color: #666;
    }
  
    @media (max-width: 770px) {
      padding: 1em 0 0 0;
  
      h3 {
        font-size: 1.3em;
      }
  
      p {
        font-size: 0.9em;
      }
    }
  }
  
  .reference-image {
    flex: 2;
    max-width: 300px;
    height: auto;
    display: flex;
  
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
      transition: transform 0.4s ease;
    }
  }
  
  .reference-card:hover .reference-image img {
    transform: scale(1.05);
  }